// Core variables and mixins
@import "~bootstrap/less/mixins";
@import "~bootstrap/less/variables";
@import "variables.less";

// Reset and dependencies
@import "normalize.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "code.less";
@import "tables.less";
@import "forms.less";
@import "buttons.less";

// Components
@import "dropdowns.less";
@import "button-groups.less";
@import "navs.less";
@import "navbar.less";
@import "breadcrumbs.less";
@import "pagination.less";
@import "pager.less";
@import "labels.less";
@import "badges.less";
@import "jumbotron.less";
@import "thumbnails.less";
@import "alerts.less";
@import "progress-bars.less";
@import "list-group.less";
@import "panels.less";
@import "wells.less";
@import "close.less";

// Components w/ JavaScript
@import "modals.less";
@import "tooltip.less";
@import "popovers.less";
@import "carousel.less";

#wrap386 {
z-index: 9999999;
background: @blueDark;
position: fixed;
bottom: 0;
right: 0;
height: 100%;
width: 100%;
}

#bar386 {
color: @white;
font-weight: bold;
float: right;
background: @blueDark;
height: @baseLineHeight;
margin-top: -@baseLineHeight;
width: 100%;
}

#cursor386 {
z-index: 9999999;
color: @white;
font-weight: bold;
position: fixed;
bottom: 0;
right: 0;
}

body {
visibility: hidden;
}
